In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("./data/Ecommerce_Customers.csv")

In [11]:
data.drop(labels=["Email"], axis = 1, inplace=True)

In [13]:
data.drop(labels=["Address"], axis=1, inplace=True)

In [14]:
data.drop(labels=["Avatar"], axis=1, inplace=True)

In [15]:
data

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...
495,33.237660,13.566160,36.417985,3.746573,573.847438
496,34.702529,11.695736,37.190268,3.576526,529.049004
497,32.646777,11.499409,38.332576,4.958264,551.620145
498,33.322501,12.391423,36.840086,2.336485,456.469510
499,33.715981,12.418808,35.771016,2.735160,497.778642

## Independent Features

In [16]:
X = data.drop(labels=["Yearly Amount Spent"], axis=1)
X

     Avg. Session Length  Time on App  Time on Website  Length of Membership
0              34.497268    12.655651        39.577668              4.082621
1              31.926272    11.109461        37.268959              2.664034
2              33.000915    11.330278        37.110597              4.104543
3              34.305557    13.717514        36.721283              3.120179
4              33.330673    12.795189        37.536653              4.446308
..                   ...          ...              ...                   ...
495            33.237660    13.566160        36.417985              3.746573
496            34.702529    11.695736        37.190268              3.576526
497            32.646777    11.499409        38.332576              4.958264
498            33.322501    12.391423        36.840086              2.336485
499            33.715981    12.418808        35.771016              2.735160

[500 rows x 4 columns]

In [19]:
Y = data["Yearly Amount Spent"]
Y

0      587.951054
1      392.204933
2      487.547505
3      581.852344
4      599.406092
          ...
495    573.847438
496    529.049004
497    551.620145
498    456.469510
499    497.778642
Name: Yearly Amount Spent, Length: 500, dtype: float64

## Seggregation of Categorical and Numerical Column, but we have Only Numerical Data

In [21]:
X.select_dtypes(include="object").columns
# No categorical Columns

Index([], dtype='object')

In [31]:
# Categorical Column
Categorical_columns = X.select_dtypes(include="object").columns
Categorical_columns

Index([], dtype='object')

In [24]:
# Numerical Column
Numerical_columns = X.select_dtypes(exclude="object").columns
Numerical_columns

Index(['Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership'],
      dtype='object')

In [25]:
X.select_dtypes(exclude="object")

     Avg. Session Length  Time on App  Time on Website  Length of Membership
0              34.497268    12.655651        39.577668              4.082621
1              31.926272    11.109461        37.268959              2.664034
2              33.000915    11.330278        37.110597              4.104543
3              34.305557    13.717514        36.721283              3.120179
4              33.330673    12.795189        37.536653              4.446308
..                   ...          ...              ...                   ...
495            33.237660    13.566160        36.417985              3.746573
496            34.702529    11.695736        37.190268              3.576526
497            32.646777    11.499409        38.332576              4.958264
498            33.322501    12.391423        36.840086              2.336485
499            33.715981    12.418808        35.771016              2.735160

[500 rows x 4 columns]

## Scaling, Encoding and Data Transformation

In [66]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier

In [54]:
num_pipeline = Pipeline(
    
    steps=[
        ('imputer',SimpleImputer()),   # imputer is the name given, u can remove it as well
        ('scaler', StandardScaler())  #Feature scaling
        
    ]
)

In [67]:
preprocessor=[('num_pipeline',num_pipeline,Numerical_columns)]

## Splitting the Data

In [68]:
## Train test split
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [69]:
X_train

     Avg. Session Length  Time on App  Time on Website  Length of Membership
12             29.532429    10.961298        37.420216              4.046423
136            32.686129    12.215252        36.594362              3.897116
368            34.385820    12.729720        36.232110              5.705941
367            32.990599    10.441235        35.938963              2.895075
406            32.865301    12.074830        35.569170              2.399080
..                   ...          ...              ...                   ...
140            31.066218    11.735095        36.599374              3.958892
301            33.026420    13.186813        38.066930              2.898300
429            33.292587    11.906508        38.422865              3.376687
421            31.574138    12.941556        36.725277              4.560396
293            33.794756    10.982806        34.810631              3.201802

[350 rows x 4 columns]